/* sxwl-react 全局基础样式（不会被 antd-style scope 覆盖的 html/body 级） */

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#root {
  height: 100%;
}
